body {}

.super-mario { width: 200px;
position: absolute; 
top: 50px;
z-index: 1;
}

.goomba {width: 200px;
top: 300px;
position: absolute;
z-index: 2;
}

.baloon { width: 130px;
position: absolute;
left: 19cm;
z-index: 3;}

.word { width: 100px;
    position: absolute;
left: 20cm;
z-index: 5;}

.bowser { width: 200px;
position: absolute;
left: 20cm;
}
